<div id="<%= dom_id service %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Container:</strong>
    <%= service.container_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= service.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Charge:</strong>
    <%= service.charge %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Start date:</strong>
    <%= service.start_date %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">End date:</strong>
    <%= service.end_date %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Invoiced:</strong>
    <%= service.invoiced %>
  </p>

</div>
