<%= form_with(model: payable, class: "contents") do |form| %>
  <% if payable.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(payable.errors.count, "error") %> Impiden guardar el pago:</h2>

      <ul>
        <% payable.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="mx-auto md:w-2/3 w-full px-2 my-6">
    <div class="my-5">
      <%= form.label :payment_date, "Fecha de Pago" %>
      <%= form.date_field :payment_date, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
    </div>

    <div class="my-5">
      <%= form.label :payment_amount, "Monto" %>
      <%= form.number_field :payment_amount, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
    </div>

    <div class="my-5">
      <%= form.label :payment_type, "Tipo de Pago" %>
      <%= form.select :payment_type, options_for_select(Payable::PAYMENT_TYPES, form.object.payment_type), { prompt: "Selecciona el tipo de pago" }, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full", required: true %>
    </div>

    <div class="my-5">
      <%= form.label :payment_means, "Forma de Pago" %>
      <%= form.text_field :payment_means, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
    </div>


    <div class="my-5">
      <%= form.label :payment_concept, "Concepto" %>
      <%= form.text_field :payment_concept, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
    </div>

    <div class="my-5">
      <%= form.label :supplier_id, "Proveedor" %>
      <%= form.text_field :supplier_id, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
    </div>

    <div class="my-5">
      <%= form.label :user_id, "Autoriza" %>
      <%= form.text_field :user_id, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
    </div>

    <div class="inline">
      <%= link_to "<- Cancelar", payables_path, class: "btn-primary mb-20" %>
      <%= form.submit class: "btn-primary mb-20" %>
    </div>
  </div>
<% end %>
