<div class="w-full md:w-3/4 mx-auto p-6 bg-white shadow-xl rounded-lg">
  <!-- Header Section -->
  <div class="flex justify-between items-center border-b pb-4 mb-6">
    <h1 class="font-bold text-4xl text-gray-800 relative">
      Cuentas por pagar
    </h1>
    <%= link_to new_payable_path, class: "btn-primary" do %>
      <%= material_icon.shape(:add_circle_outline) %>
    <% end %>
  </div>

  <!-- Search & Filters -->
  <div class="mb-5 p-4 bg-gray-100 rounded-lg shadow-md">
    <%= form_with url: payables_path, method: :get, local: true, class: "grid grid-cols-1 md:grid-cols-3 lg:grid-cols-5 gap-4" do %>

      <!-- Start Date -->
      <div>
        <%= label_tag :start_date, "Desde" %>
        <%= date_field_tag :start_date, params[:start_date], class: "block w-full border rounded px-3 py-2" %>
      </div>

      <!-- End Date -->
      <div>
        <%= label_tag :end_date, "Hasta" %>
        <%= date_field_tag :end_date, params[:end_date], class: "block w-full border rounded px-3 py-2" %>
      </div>

      <!-- Payment Type -->
      <div>
        <%= label_tag :payment_type, "Tipo de Pago" %>
        <%= select_tag :payment_type, options_for_select(Payable::PAYMENT_TYPES, params[:payment_type]), include_blank: "Todos", class: "block w-full border rounded px-3 py-2" %>
      </div>

      <!-- Payment Means -->
      <div>
        <%= label_tag :payment_means, "Forma de Pago" %>
        <%= select_tag :payment_means, options_for_select(Payable::PAYMENT_MEANS, params[:payment_means]), include_blank: "Todas", class: "block w-full border rounded px-3 py-2" %>
      </div>

      <!-- Supplier Name -->
      <div>
        <%= label_tag :supplier_name, "Proveedor" %>
        <%= select_tag :supplier_name, options_for_select(Supplier.all.map { |s| [s.name, s.id] }, params[:supplier_name]), include_blank: "Todos", class: "block w-full border rounded px-3 py-2" %>
      </div>

      <!-- Search Button -->
      <div class="col-span-1 md:col-span-3 lg:col-span-5 flex justify-end">
        <%= submit_tag "Buscar", class: "btn-primary px-5 py-2" %>
        <%= link_to "Limpiar", payables_path, class: "btn-secondary px-5 py-2 ml-2" %>
      </div>

    <% end %>
  </div>

  <div class="my-4 flex justify-center border bg-blue-50 rounded-lg px-6 py-2">
      <%= paginate @payables %>
  </div>


    <!-- Payables List -->
    <!-- Payables Grid (Visible on small & medium screens, hidden on large) -->
  <div id="payables" class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 lg:hidden mb-20">
    <% @payables.each do |payable| %>
      <div class="p-5 bg-gray-100 rounded-lg shadow-md flex flex-col justify-between">
        <%= render payable %>
        <div class="my-4 mx-auto">
          <%= link_to "Ver", payable, class: "btn-primary w-full" %>
        </div>
      </div>
    <% end %>
  </div>

  <!-- Payables Table (Hidden on small & medium screens, visible on large) -->
  <div class="hidden lg:flex overflow-x-auto">
    <table class="w-full border-collapse border border-gray-200 rounded-lg shadow-md">
      <thead class="bg-gray-100">
        <tr>
          <th class="py-3 px-4 border text-center">Fecha de Pago</th>
          <th class="py-3 px-4 border text-center">Tipo de Pago</th>
          <th class="py-3 px-4 border text-center">Medio de Pago</th>
          <th class="py-3 px-4 border text-center">Proveedor</th>
          <th class="py-3 px-4 border text-center">Autoriza</th>
          <th class="py-3 px-4 border text-center">Monto</th>
          <th class="py-3 px-4 border text-center">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <% @payables.each do |payable| %>
          <tr class="border-b hover:bg-gray-100">
            <td class="py-3 px-4"><%= payable.payment_date&.strftime("%d/%m/%Y") %></td>
            <td class="py-3 px-4"><%= payable.payment_type %></td>
            <td class="py-3 px-4"><%= payable.payment_means %></td>
            <td class="py-3 px-4"><%= payable.supplier.name %></td>
            <td class="py-3 px-4"><%= payable.user.full_name %></td>
            <td class="py-3 px-4"><%= number_to_currency(payable.payment_amount, unit: "$", separator: ".", delimiter: ",") %></td>
            <td class="py-3 px-4">
              <%= link_to "Ver", payable, class: "btn-primary px-4 py-2 text-sm" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

</div>

