<div class="w-full md:w-3/4 mx-auto p-6 bg-white shadow-xl rounded-lg">
  <!-- Header Section -->
  <div class="flex justify-between items-center border-b pb-4 mb-6">
    <h1 class="font-bold text-4xl text-gray-800 relative">
      Cuentas por pagar
      <span class="block w-16 h-1 bg-blue-600 mt-2"></span>
    </h1>
    <%= link_to new_payable_path, class: "btn-primary" do %>
      <%= material_icon.shape(:add_circle_outline) %>
    <% end %>
  </div>

  <!-- Payables List -->
  <!-- Payables Grid (Visible on small & medium screens, hidden on large) -->
<div id="payables" class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 lg:hidden mb-20">
  <% @payables.each do |payable| %>
    <div class="p-5 bg-gray-100 rounded-lg shadow-md flex flex-col justify-between">
      <%= render payable %>
      <div class="my-4 mx-auto">
        <%= link_to "Ver", payable, class: "btn-primary w-full" %>
      </div>
    </div>
  <% end %>
</div>

<!-- Payables Table (Hidden on small & medium screens, visible on large) -->
<div class="hidden lg:flex overflow-x-auto">
  <table class="w-full border-collapse border border-gray-200 rounded-lg shadow-md">
    <thead class="bg-gray-100">
      <tr>
        <th class="py-3 px-4 border text-left">Fecha de Pago</th>
        <th class="py-3 px-4 border text-left">Tipo de Pago</th>
        <th class="py-3 px-4 border text-left">Medio de Pago</th>
        <th class="py-3 px-4 border text-left">Proveedor</th>
        <th class="py-3 px-4 border text-left">Usuario</th>
        <th class="py-3 px-4 border text-left">Monto</th>
        <th class="py-3 px-4 border text-left">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <% @payables.each do |payable| %>
        <tr class="border-b hover:bg-gray-100">
          <td class="py-3 px-4"><%= payable.payment_date.strftime("%d/%m/%Y") %></td>
          <td class="py-3 px-4"><%= payable.payment_type %></td>
          <td class="py-3 px-4"><%= payable.payment_means %></td>
          <td class="py-3 px-4"><%= payable.supplier.name %></td>
          <td class="py-3 px-4"><%= payable.user.full_name %></td>
          <td class="py-3 px-4"><%= payable.payment_amount %></td>
          <td class="py-3 px-4">
            <%= link_to "Ver", payable, class: "btn-primary px-4 py-2 text-sm" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

</div>

