<div id="<%= dom_id invoice %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">User:</strong>
    <%= invoice.user_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Total:</strong>
    <%= invoice.total %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Status:</strong>
    <%= invoice.status %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Issue date:</strong>
    <%= invoice.issue_date %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Due date:</strong>
    <%= invoice.due_date %>
  </p>

</div>
