<div class="border border-gray-200 rounded-lg shadow-lg p-4 my-2 bg-slate-200">
  <div class="flex flex-col gap-3">
    <% if current_user.role.name != "cliente" %>
      <div>
        <p class="text-sm font-medium text-gray-600">Cliente:</p>
        <p class="text-lg text-center font-semibold text-gray-800"><%= invoice.user.full_name %></p>
      </div>
    <% end %>

    <div class="flex justify-between">
      <div>
        <p class="text-sm font-medium text-gray-600">Emisión:</p>
        <p class="text-gray-800"><%= invoice.issue_date.strftime("%d/%m/%Y") %></p>
      </div>
      <div>
        <p class="text-sm font-medium text-gray-600">Límite de Pago:</p>
        <p class="text-gray-800"><%= invoice.due_date.strftime("%d/%m/%Y") %></p>
      </div>
    </div>

    <div class="flex justify-between my-2 bg-gray-100 p-2 rounded-lg">
      <div class="flex flex-col gap-2 items-center">
        <p class="text-sm font-medium text-gray-600">Pago:</p>
        <p class="text-lg font-semibold text-gray-800"><%= invoice.status %></p>
      </div>

      <div class="flex flex-col gap-2 items-center">
        <p class="text-sm font-medium text-gray-600">Total:</p>
        <p class="text-lg font-semibold text-gray-800"><%= number_to_currency(invoice.total) %></p>
      </div>
    </div>

    <div class="flex gap-4 p-2 rounded-lg">
      <%= link_to invoices_path, class: "justify-self-center shadow-lg px-4 py-2 rounded-lg bg-blue-50 text-blue-500", title: "Ver Detalles" do %>
        <%= material_icon.shape(:arrow_back) %>
      <% end %>

      <%= link_to new_payment_path(invoice_id: invoice.id), class: "justify-self-center shadow-lg px-4 py-2 rounded-lg bg-blue-50 text-blue-500", title: "Registrar Pago" do %>
        <%= material_icon.shape(:payment) %>
      <% end %>

      <%= link_to edit_invoice_path(invoice), class: "justify-self-center shadow-lg px-4 py-2 rounded-lg bg-blue-50 text-blue-500", title: "Editar" do %>
        <%= material_icon.shape(:edit) %>
      <% end %>

      <%= link_to invoice, data: { turbo_method: :delete, turbo_confirm: "¿Eliminar esta factura?" }, class: "justify-self-center shadow-lg px-4 py-2 rounded-lg bg-red-50 text-red-500", title: "Eliminar" do %>
        <%= material_icon.shape(:delete) %>
      <% end %>
    </div>
  </div>
</div>

