<div id="<%= dom_id invoice %>">
  
  <%if current_user.role.name != "cliente" %>
    <p class="my-5">
      <strong class="block font-medium mb-1">Cliente:</strong>
      <%= invoice.user.full_name %>
    </p>
  <% end %>

  <p class="my-5">
    <strong class="block font-medium mb-1">Total:</strong>
    <%= number_to_currency(invoice.total) %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1"> Pago:</strong>
    <%= invoice.status %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Emisión:</strong>
    <%= invoice.issue_date %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Límite de Pago</strong>
    <%= invoice.due_date %>
  </p>

</div>
