<div class="mx-auto py-2 lg:ml-20 mt-4">

  <% content_for :title, "Invoices" %>

  <h1 class="font-bold text-4xl">Estados de Cuenta</h1>
 

  <%# Start search form for filters def apply_filters! %>

  <div class="border rounded px-4 bg-blue-50 my-8 shadow mx-2">
    <h2 class="text-lg font-semibold">Filtrar Estados de Cuenta</h2>
    <%= form_with url: invoices_path, method: :get do |f| %>
      <div class="flex flex-col lg:flex-row gap-2">
        <% if current_user.role.name != "cliente" %>
          <div class="input-group">
            <%= f.label :user_id, "Cliente" %>
            <%= f.select :user_id, 
              options_from_collection_for_select(User.joins(:role).where(roles: { name: 'cliente' }), :id, :full_name), 
              { prompt: "Selecciona" }, 
              class: "form-control" 
            %>
          </div>
        <% end %>

        <div class="input-group">
          <%= f.label :status, "Estado" %>
          <%= f.select :status, options_for_select(Invoice::STATUSES), { prompt: "Selecciona" }, class: "form-control" %>
        </div>
        <div class="input-group">
          <%= f.label :issue_date, "Fecha de emisión" %>
          <%= f.date_field :issue_date, class: "form-control" %>
        </div>
        <div class="input-group">
          <%= f.label :due_date, "Fecha de vencimiento" %>
          <%= f.date_field :due_date, class: "form-control" %>
        </div>
      </div>
       
      <div class="flex justify-center mt-4">
        <%= f.submit "Filtrar", class: "btn-primary" %>
      </div>
    <% end %>
  </div>
  <%# End search form for filters %>



  <%# Large devices table for invoices %>
    <div class="my-4 flex justify-center bg-blue-50 rounded-lg px-6 py-2 border border-gray-300 rounded-lg shadow">
      <%= paginate @invoices %>
    </div>
  <div class="hidden lg:flex flex-col gap-4 bg-white shadow-md rounded-lg p-6">

    <table class="table-auto w-full border-collapse border border-gray-300 rounded-lg shadow-lg">
      <thead class="bg-blue-50 text-gray-700">
        <tr>
          <th class="border border-gray-300 px-4 py-2">Folio</th>
          <% if current_user.role.name != "cliente" %>
            <th class="border border-gray-300 px-4 py-2">Cliente</th>
          <% end %>
          <th class="border border-gray-300 px-4 py-2">Contenedor</th>
          <th class="border border-gray-300 px-4 py-2">Pago</th>
          <th class="border border-gray-300 px-4 py-2">Emisión</th>
          <th class="border border-gray-300 px-4 py-2">Vence</th>
          <th class="border border-gray-300 px-4 py-2">Cargo</th>
          <th class="border border-gray-300 px-4 py-2">Actions</th>
        </tr>
      </thead>
      <tbody>
        <% invoices_total = 0 %>
        <% @invoices.each do |invoice| %>
          <tr class="hover:bg-gray-100">
            <td class="border border-gray-300 px-4 py-2"><%= invoice.id %></td>
            <% if current_user.role.name != "cliente" %>
              <td class="border border-gray-300 px-4 py-2"><%= invoice.user.full_name %></td>
            <% end %>
            <td class="border border-gray-300 px-4 py-2 underline text-blue-900">
              <%= link_to invoice.services.first&.container&.number || "N/A", invoice.services.first&.container %>
            </td>
            <td class="border border-gray-300 px-4 py-2"><%= invoice.status %></td>
            <td class="border border-gray-300 px-4 py-2"><%= invoice.issue_date.strftime("%d/%m/%y") %></td>
            <td class="border border-gray-300 px-4 py-2"><%= invoice.due_date.strftime("%d/%m/%y") %></td>
            <td class="border border-gray-300 px-4 py-2"><%= number_to_currency(invoice.total) %></td>
            <td class="border border-gray-300 px-4 py-2 text-center">
              <%= link_to invoice, class: "text-blue-600", title: "Ver Detalles" do %>
                <%= material_icon.shape(:visibility) %>
              <% end %>
            </td>
          </tr>
          <% invoices_total += invoice.total %>
        <% end %>
      </tbody>
      <tfoot>
        <tr class="bg-blue-50 text-gray-700">
          <td class="border border-gray-300 px-4 py-2"></td>
          <td class="border border-gray-300 px-4 py-2"></td>
          <td class="border border-gray-300 px-4 py-2"></td>
          <td class="border border-gray-300 px-4 py-2"></td>
          <td class="border border-gray-300 px-4 py-2 font-semibold text-center">Total</td>
          <td class="border border-gray-300 px-4 py-2 font-semibold" colspan="5"><%= number_to_currency(invoices_total) %></td>
        </tr>
      </tfoot>
    </table>
    
  </div>
  <%# End large devices table for invoices %>
  <div class="my-4 flex justify-center bg-blue-50 rounded-lg px-6 py-2 border border-gray-300 rounded-lg shadow">
    <%= paginate @invoices %>
  </div>


  <%# Invoices for small devices %>
  <div class="lg:hidden flex flex-col gap-6 mt-6 mb-16 mx-auto">
    <h2 class="text-center text-2xl font-semibold text-gray-800">Facturas del Contenedor</h2>

    <div class="flex flex-col gap-6 p-4">
      <% @invoices.each do |invoice| %>
        <div class="border border-gray-200 rounded-lg shadow-lg p-4 my-2 bg-slate-200">
          <div class="flex flex-col gap-3">
            <% if current_user.role.name != "cliente" %>
              <div>
                <p class="text-sm font-medium text-gray-600">Cliente:</p>
                <p class="text-lg text-center font-semibold text-gray-800"><%= invoice.user.full_name %></p>
              </div>
            <% end %>

            <div>
              <p class="text-sm font-medium text-gray-600">Contenedor:</p>
              <p class="text-lg underline text-blue-900">
                <%= link_to invoice.services&.first&.container&.number, invoice.services.first&.container %>
              </p>
            </div>

            <div class="flex justify-between">
              <div>
                <p class="text-sm font-medium text-gray-600">Emisión:</p>
                <p class="text-gray-800"><%= invoice.issue_date.strftime("%d/%m/%Y") %></p>
              </div>
              <div>
                <p class="text-sm font-medium text-gray-600">Vence:</p>
                <p class="text-gray-800"><%= invoice.due_date.strftime("%d/%m/%Y") %></p>
              </div>
            </div>

            <div class="flex justify-between my-2 bg-gray-100 p-2 rounded-lg">
              <div class="flex flex-col gap-2 items-center">
                <p class="text-sm font-medium text-gray-600">Pago:</p>
                <p class="text-lg font-semibold text-gray-800"><%= invoice.status %></p>
              </div>

              <div class="flex flex-col gap-2 items-center">
                <p class="text-sm font-medium text-gray-600">Saldo:</p>
                <p class="text-lg font-semibold text-gray-800"><%= number_to_currency(invoice.total-invoice.payments.sum(:amount)) %></p>
              </div>
            </div>

            <div class="flex gap-4 p-2 rounded-lg">
              <%= link_to new_payment_path(invoice_id: invoice.id), class: "justify-self-center shadow-lg px-4 py-2 rounded-lg bg-blue-50 text-blue-500", title: "Registrar Pago" do %>
                <%= material_icon.shape(:payment) %>
              <% end %>

              <%= link_to edit_invoice_path(invoice), class: "justify-self-center shadow-lg px-4 py-2 rounded-lg bg-blue-50 text-blue-500", title: "Editar" do %>
                <%= material_icon.shape(:edit) %>
              <% end %>

              <%= link_to invoice, data: { turbo_method: :delete, turbo_confirm: "¿Eliminar esta factura?" }, class: "justify-self-center shadow-lg px-4 py-2 rounded-lg bg-red-50 text-red-500", title: "Eliminar" do %>
                <%= material_icon.shape(:delete) %>
              <% end %>

              <%= link_to invoice, class: "justify-self-center shadow-lg px-4 py-2 rounded-lg bg-blue-50 text-blue-500", title: "Ver Detalles" do %>
                <%= material_icon.shape(:visibility) %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <div class="my-4 flex justify-evenly items-center gap-4 border bg-blue-50 rounded-lg px-6 py-4">
      <%= paginate @invoices %>
    </div>
  </div>
  <%# End invoices for small devices %>

  
</div>
