<div class="w-full mx-auto lg:w-3/4 p-2">

  <% content_for :title, "Invoices" %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Invoices</h1>
    <%= link_to "New invoice", new_invoice_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  </div>

  <%# Small devices %>
  <div id="invoices" class="lg:hidden flex flex-col gap-4 mt-4 mx-auto w-full my-5">
    <% @invoices.each do |invoice| %>
      <%= render invoice %>
      <p>
        <%= link_to "Show this invoice", invoice, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
      </p>
    <% end %>
  </div>
  <%# End small devices %>

  <%# Large devices table for invoices %>
  <div class="hidden lg:flex lg:flex-col gap-4 mt-4">
    <table class="table-auto my-5 border-collapse border border-gray-300 w-full">
      <thead>
        <tr class="bg-blue-200">
          <% if current_user.role.name != "cliente" %>
            <th class="border border-gray-300 px-4 py-2">Cliente</th>
          <% end %>
          <th class="border border-gray-300 px-4 py-2">Pago</th>
          <th class="border border-gray-300 px-4 py-2">Emisión</th>
          <th class="border border-gray-300 px-4 py-2">Vencimiento</th>
          <th class="border border-gray-300 px-4 py-2">Total</th>
          <th class="border border-gray-300 px-4 py-2">Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @invoices.each do |invoice| %>
          <tr class="hover:bg-gray-100">
            <% if current_user.role.name != "cliente" %>
              <td class="border border-gray-300 px-4 py-2"><%= invoice.user.full_name %></td>
            <% end %>
            <td class="border border-gray-300 px-4 py-2"><%= invoice.status %></td>
            <td class="border border-gray-300 px-4 py-2"><%= invoice.issue_date %></td>
            <td class="border border-gray-300 px-4 py-2"><%= invoice.due_date %></td>
            <td class="border border-gray-300 px-4 py-2"><%= number_to_currency(invoice.total) %></td>
            <td class="border border-gray-300 px-4 py-2">
              <%= link_to "Show", invoice, class: "underline mr-2" %>
              <%= link_to "Edit", edit_invoice_path(invoice), class: "underline mr-2" %>
              <%= link_to "Delete", invoice, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "underline text-red-500" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <%# End large devices table for invoices %>

</div>
