<div class="mx-auto w-full flex flex-col gap-4">
  <h3 class="font-bold text-3xl text-center">Estado de Cuenta</h3>

  <%# small devices %>
  <div class="mx-auto lg:hidden w-full p-4">
    <%= render @invoice %>
  </div>
  <%# End small devices %>

  <%# Large devices table for invoices %>
  <div class="hidden lg:flex flex-col gap-4 bg-white shadow-md rounded-lg p-6">

    <table class="table-auto my-5 border-collapse border border-gray-300 w-full">
      <thead>
        <tr class="bg-blue-200">
          <th class="border border-gray-300 px-4 py-2">Folio</th>
          <% if current_user.role.name != "cliente" %>
            <th class="border border-gray-300 px-4 py-2">Cliente</th>
          <% end %>
          <th class="border border-gray-300 px-4 py-2">Contenedor</th>
          <th class="border border-gray-300 px-4 py-2">Pago</th>
          <th class="border border-gray-300 px-4 py-2">Emisión</th>
          <th class="border border-gray-300 px-4 py-2">Vence</th>
          <th class="border border-gray-300 px-4 py-2">Total</th>
          <th class="border border-gray-300 px-4 py-2">Saldo</th>
          <th class="border border-gray-300 px-4 py-2">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr class="hover:bg-gray-100">
          <td class="border border-gray-300 px-4 py-2"><%= @invoice.id %></td>
          <% if current_user.role.name != "cliente" %>
            <td class="border border-gray-300 px-4 py-2"><%= @invoice.user.full_name %></td>
          <% end %>
          <td class="border border-gray-300 px-4 py-2">
            <%= link_to @invoice.services.first&.container&.number, @invoice.services.first&.container, class: "underline text-blue-900" %>
          </td>
             
          <td class="border border-gray-300 px-4 py-2"><%= @invoice.status %></td>
          <td class="border border-gray-300 px-4 py-2"><%= @invoice.issue_date.strftime("%d/%m/%y") %></td>
          <td class="border border-gray-300 px-4 py-2"><%= @invoice.due_date.strftime("%d/%m/%y") %></td>
          <td class="border border-gray-300 px-4 py-2"><%= number_to_currency(@invoice.total) %></td>
          <td class="border border-gray-300 px-4 py-2"><%= number_to_currency(@invoice.total-@invoice.payments.sum(:amount)) %></td>
          <td class="border border-gray-300 px-4 py-2">
            <%= link_to new_payment_path(invoice_id: @invoice.id), class: "text-indigo-600", title: "Registrar Pago" do %>
              <%= material_icon.shape(:payment) %>
            <% end %>
            <%= link_to edit_invoice_path(@invoice), class: "text-blue-600", title: "Editar", title: "Editar estado de cuenta" do %>
              <%= material_icon.shape(:edit) %>
            <% end %>
            <%= link_to @invoice, data: { turbo_method: :delete, turbo_confirm: "¿Eliminar esta factura?" }, class: "text-red-600", title: "Eliminar estado de cuenta" do %>
              <%= material_icon.shape(:delete) %>
            <% end %>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <%# Payments table for large devices %>
  <div class="hidden lg:flex lg:flex-col gap-4 mt-4 bg-blue-50 rounded-lg p-4 mx-auto">
    <h3 class="font-bold text-3xl text-center">Pagos</h3>
    <table class="table-auto my-5 border-collapse border border-gray-300 w-full">
      <thead>
        <tr class="bg-blue-200">
          <th class="border border-gray-300 px-4 py-2">Fecha</th>
          <th class="border border-gray-300 px-4 py-2">Monto</th>
          <th class="border border-gray-300 px-4 py-2">Forma de Pago</th>
          <th class="border border-gray-300 px-4 py-2">Actions</th>
        </tr>
      </thead>
      <tbody>
        <% total_payments = 0 %>
        <% @invoice.payments.each do |payment| %>
          <tr class="hover:bg-gray-100">
            <td class="border border-gray-300 px-4 py-2">
              <%= payment.payment_date.strftime("%d/%m/%y") %>
            </td>
            <td class="border border-gray-300 px-4 py-2">
              <%= number_to_currency(payment.amount) %>
            </td>
            <td class="border border-gray-300 px-4 py-2">
              <%= payment.payment_means %>
            </td>
            <td class="border border-gray-300 px-4 py-2">
              <%= link_to edit_payment_path(payment), class: "text-blue-600", title: "Editar" do %>
                <%= material_icon.shape(:edit) %>
              <% end %>
              <%= link_to payment, data: { turbo_method: :delete, turbo_confirm: "¿Eliminar este pago?" }, class: "text-red-600", title: "Eliminar Pago" do %>
                <%= material_icon.shape(:delete) %>
              <% end %>
            </td>
          </tr>
          <% total_payments += payment.amount %>
        <% end %>
        <tr class="bg-blue-200">
          <td class="border border-gray-300 px-4 py-2 font-bold">Total</td>
          <td class="border border-gray-300 px-4 py-2 font-bold"><%= number_to_currency(total_payments) %></td>
          <td class="border border-gray-300 px-4 py-2 font-bold"></td>
          <td class="border border-gray-300 px-4 py-2 font-bold"></td>
        </tr>
      </tbody>
    </table>
  </div>
  <%# End invoice payments table for large devices %>

  <%# Invoice payments for small devices %>
  <div class="lg:hidden flex flex-col gap-6 mt-6 mb-16 mx-auto">
    <h3 class="font-bold text-2xl text-center">Pagos</h3>
  
    <div class="flex flex-col gap-6 p-4">
      <% @invoice.payments.each do |payment| %>
        <div class="border border-gray-300 rounded-lg shadow-lg p-4 bg-slate-200 my-2">
          <div class="flex flex-col gap-3">
            <div>
              <p class="text-sm font-medium text-gray-600">Fecha:</p>
              <p class="text-lg font-semibold text-gray-800"><%= payment.payment_date.strftime("%d/%m/%y") %></p>
            </div>
  
            <div>
              <p class="text-sm font-medium text-gray-600">Monto:</p>
              <p class="text-lg font-semibold text-gray-800"><%= number_to_currency(payment.amount) %></p>
            </div>
  
            <div>
              <p class="text-sm font-medium text-gray-600">Forma de Pago:</p>
              <p class="text-lg font-semibold text-gray-800"><%= payment.payment_means %></p>
            </div>
  
            <div class="flex gap-4 mt-3">
              <%= link_to edit_payment_path(payment), class: "shadow-lg px-4 py-2 rounded-lg bg-blue-50 text-blue-500", title: "Editar" do %>
                <%= material_icon.shape(:edit) %>
              <% end %>
  
              <%= link_to payment, data: { turbo_method: :delete, turbo_confirm: "¿Eliminar este pago?" }, class: "shadow-lg px-4 py-2 rounded-lg bg-red-50 text-red-500", title: "Eliminar Pago" do %>
                <%= material_icon.shape(:delete) %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <%# End invoice payments for small devices %>


</div>
