<%= turbo_frame_tag dom_id(notification) do %>
  <div class="border rounded-lg shadow px-8 py-2 my-2", 
      style="background-color: <%= notification.completed ? '#dcfce7' : '#ffe4e6' %>;
      color: <%= notification.completed ? '#166534' : '#991b1b' %>">

    <h2 class="font-bold"><%= notification.move.move_type %></h2>
    
    <div class="flex flex-col lg:flex-row text-center md:justify-evenly">
      <p class="my-5 text-lg">
        <%= notification.move.container.number %>
      </p>

      <%if notification.move.container.eirs.last&.heavy %>
        <p class="my-5 border rounded bg-blue-600 text-white px-3 px-2 inline">
          <%= notification.move.container.eirs.last&.heavy %>
        </p>
      <% end %>

      <p class="my-5 text-lg">
        <%= notification.move.location.location %>
      </p>
    </div>

    <div class="flex flex-col md:flex-row text-center md:justify-evenly">
      <%if notification.move.container.eirs.last&.transport %>
        <p class="my-5 text-lg">
          <%= notification.move.container.eirs.last&.transport %>
        </p>
      <% end %>

      <% if notification.move.mode %>
        <p class="my-5 text-lg">
          <%= notification.move.mode %>
        </p>
      <% end %>

      <% if notification.move.container.eirs.last&.fleet_number %>
        <p class="my-5 text-lg">
          <%= notification.move.container.eirs.last&.fleet_number %>
        </p>
      <% end %>

      <% if notification.move.container.eirs.last&.plate %>
        <p class="my-5 text-lg">
          <%= notification.move.container.eirs.last&.plate %>
        </p>
      <% end %>

    </div>

    <%= turbo_frame_tag "notification_#{notification.id}" do %>
      <div class="flex gap-2">
        <%= button_to "Cumplido", notification_completed_path(notification), method: :patch, class: "btn-primary" %>
        <%= button_to "Eliminar", notification, method: :delete, class: "btn-danger", 
            data: { turbo_confirm: "Are you sure?" } %>
        <p class="my-5 text-lg ml-auto hidden md:flex bg-blue-50 px-2 rounded-lg shadow">
          <%= notification.created_at.strftime("%d/%m/%Y %H:%M") %>
        </p>
      </div>
    <% end %>

  </div>
<% end %>
