<div id="<%= dom_id eir %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Container:</strong>
    <%= eir.container_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Operator:</strong>
    <%= eir.operator %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Transport:</strong>
    <%= eir.transport %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Plate:</strong>
    <%= eir.plate %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Fleet number:</strong>
    <%= eir.fleet_number %>
  </p>

</div>
