<div class="p-2 my-5 shadow-lg rounded-lg p-8">
  <div class="flex gap-2">
    <%= link_to "Descargar EIR", eir, class: "btn-primary" %>
    <%= link_to "Eliminar", eir, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "btn-danger" %>
  </div>
  <div class="field">
    <h2><%= eir.container.number %></h2>
  </div>
  <div class="">
    <% if eir.heavy.present? %>
      <div class="field px-8">
        <h1 class="border rounded-lg bg-blue-600 text-white"><%= eir.heavy %></h1>
      </div>
    <% end %>

    <div class="field">
      <strong class="block font-medium mb-1">Operador:</strong>
      <%= eir.operator %>
    </div>

    <div class="field">
      <strong class="block font-medium mb-1">Transporte:</strong>
      <%= eir.transport %>
    </div>

    <div class="field">
      <strong class="block font-medium mb-1">Placa:</strong>
      <%= eir.plate %>
    </div>

    <div class="field">
      <strong class="block font-medium mb-1">Número económico:</strong>
      <%= eir.fleet_number %>
    </div>

    <div class="field">
      <strong class="block font-medium mb-1">Dueño de la carga:</strong>
      <%= eir.container.cargo_owner %>
    </div>

    <div class="field">
      <strong class="block font-medium mb-1">Tipo de contenedor:</strong>
      <%= eir.container.container_type %>
    </div>

    <div class="field">
      <strong class="block font-medium mb-1">Tamaño del contenedor:</strong>
      <%= eir.container.size %>
    </div>

    <div class="field">
      <strong class="block font-medium mb-1">Cliente:</strong>
      <%= eir.container.user.full_name %>
    </div>

    <div class="field">
      <strong class="block font-medium mb-1">Fecha de entrada:</strong>
      <% entry = eir.container.moves.find_by(move_type: "Entrada") %>
      <%= entry.created_at.in_time_zone("America/Mexico_City").strftime("%d/%m/%Y") if entry %>
    </div>

    <div class="field">
      <strong class="block font-medium mb-1">Fecha de salida:</strong>
      <% entry = eir.container.moves.find_by(move_type: "Salida") %>
      <%= entry.created_at.in_time_zone("America/Mexico_City").strftime("%d/%m/%Y") if entry %>
    </div>

  </div>

</div>
