<div class="p-2 my-5 shadow-lg rounded-lg p-8">
  <%= link_to "Descargar EIR", eir, class: "btn-primary" %>
  <div class="field">
    <h2><%= eir.container.number %></h2>
  </div>
  <div class="">
    <div class="field">
      <strong class="block font-medium mb-1">Operador:</strong>
      <%= eir.operator %>
    </div>

    <div class="field">
      <strong class="block font-medium mb-1">Transporte:</strong>
      <%= eir.transport %>
    </div>

    <div class="field">
      <strong class="block font-medium mb-1">Placa:</strong>
      <%= eir.plate %>
    </div>

    <div class="field">
      <strong class="block font-medium mb-1">Número económico:</strong>
      <%= eir.fleet_number %>
    </div>

    <div class="field">
      <strong class="block font-medium mb-1">Dueño de la carga:</strong>
      <%= eir.container.cargo_owner %>
    </div>

    <div class="field">
      <strong class="block font-medium mb-1">Tipo de contenedor:</strong>
      <%= eir.container.container_type %>
    </div>

    <div class="field">
      <strong class="block font-medium mb-1">Tamaño del contenedor:</strong>
      <%= eir.container.size %>
    </div>

    <div class="field">
      <strong class="block font-medium mb-1">Cliente:</strong>
      <%= eir.container.user.full_name %>
    </div>
  </div>

</div>
