<div class="p-2 my-5 bg-white shadow-lg rounded-lg p-8 bg-sky-50">

  <p class="field">
    <strong class="font-medium">Cliente:</strong>
    <%= container.user.full_name %>
  </p>

  <p class="field">
    <strong class="font-medium">Número de Contenedor:</strong>
    <%= container.number %>
  </p>

  <p class="field">
    <strong class="font-medium">Tamaño:</strong>
    <%= container.size %>
  </p>

  <p class="field">
    <strong class="font-medium">Tipo de Contenedor:</strong>
    <%= container.container_type %>
  </p>

  <p class="field">
    <strong class="font-medium">Dueño de la Carga:</strong>
    <%= container.cargo_owner %>
  </p>

</div>
