<div class="p-2 my-5 bg-white shadow-lg rounded-lg p-2 bg-sky-50">

  <div class="field">
    <p class="text-center"><%= container.number %></p>
  </div>


  <% if container.eirs.any? && container.eirs.last.heavy.present? %>
    <div class="field flex justify-center items-center">
      <p class="border rounded-lg bg-blue-600 text-center text-white shadow w-1/2">
        <%= container.eirs.last.heavy %>
      </p>
    </div>
  <% end %>
  
  <p class="field">
    <strong class="font-medium">Tamaño:</strong>
    <%= container.size %>
  </p>

  <% if container.moves.any? %>
    <div class="field flex">
      <p>
        <%= container.moves.last.location&.full_description || "No location assigned" %>
      </p>
    </div>
  <% end %>
  
  <p class="field">
    <strong class="font-medium">Tipo de Contenedor:</strong>
    <%= container.container_type %>
  </p>

  <p class="field">
    <strong class="font-medium">Dueño de la Carga:</strong>
    <%= container.cargo_owner %>
  </p>

  <p class="field">
    <% entrada_move = container.moves.find_by(move_type: "Entrada") %>
      <% if entrada_move %>
        <strong class="font-medium">Entrada:</strong>
        <span><%= entrada_move.created_at.strftime("%d/%m/%Y") %></span>
      <% else %>
        Entrada: N/A
      <% end %>
  </p>

  <p class="field">
    <% salida_move = container.moves.find_by(move_type: "Salida") %>
      <% if salida_move %>
        <strong class="font-medium">Salida:</strong>
        <span><%= salida_move.created_at.strftime("%d/%m/%Y") %></span>
      <% else %>
        Salida: N/A
      <% end %>
  </p>

  <% reacomodo_moves = container.moves.where(move_type: "Reacomodo").order(:created_at) %>
<% if reacomodo_moves.any? %>
  <% reacomodo_moves.each do |move| %>
    <p class="field">
      Reacomodo:<%= move.created_at.strftime("%d/%m/%Y") %>
    </p>
  <% end %>
<% end %>

  <% lavado_move = container.moves.find_by(move_type: "Movimiento para lavado") %>
  <% if lavado_move %>
    <p class="field">
      <strong class="font-medium">Movimiento para lavado:</strong>
      <span><%= lavado_move.created_at.strftime("%d/%m/%Y") %></span>
    </p>
  <% end %>

  <p class="field">
    <strong class="font-medium">Cliente:</strong>
    <%= container.user.full_name %>
  </p>

</div>
