<div class="my-5 mx-5">
  <%= form_with(model: container, class: "contents") do |form| %>
    <% if container.errors.any? %>
      <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
        <h2><%= pluralize(container.errors.count, "error") %> prohibited this container from being saved:</h2>

        <ul>
          <% container.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <% if current_user.role.name != "cliente" %>
      <div class="my-5">
        <%= form.label "Cliente" %>
        <%= form.collection_select :user_id, User.clients, :id, :full_name, { prompt: "Seleccione el cliente" }, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
      </div>
    <% end %>

    <div class="my-5">
      <%= form.label "Numero de Contenedor" %>
      <%= form.text_field :number, class: "flex shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
    </div>

    <div class="my-5">
      <%= form.label "Tamaño" %>
    <%= form.select :size, options_for_select([["20", 20], ["40", 40]], form.object.size), { prompt: "Seleccione el tamaño"}, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
    </div>

    <div class="my-5">
      <%= form.label "Tipo" %>
      <%= form.select :container_type, options_for_select([["Seco", "Seco"], ["Refrigerado", "Refrigerado"], ["Open Top", "Open Top"], ["Flat Rack", "Flat Rack"], ["High Cube", "High Cube"], ["Tanque", "Tanque"], ["Otro", "Otro"]], form.object.container_type), { prompt: "Seleccione el tipo de contenedor" }, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
    </div>

    <div class="my-5">
      <%= form.label "Dueño de la Mercancía" %>
      <%= form.text_field :cargo_owner, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
    </div>

    <div class="inline">
      <%= form.submit "Crear Contenedor", class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
    </div>
  <% end %>
  <%= link_to "Regresar", containers_path, class: "btn-primary" %>
</div>