<div class="flex flex-col gap-2 lg:ml-20 px-5 mb-16">
   
  <h1 class="">Contenedores</h1>
  <div class="flex justify-items-end px-8">
    <%= link_to "Nuevo Contenedor", new_container_path, class: "ml-auto mt-4 btn-primary" %>
  </div>
  <div class="lg:hidden my-8">
    <% @containers.each do |container| %>
      <%= render container %>
    <%= link_to "Ver detalles", container, class: "btn-primary" %>
    <%= link_to "Editar", edit_container_path(container), class: "btn-primary" %>
    <% end %>
  </div>
  <div class="hidden lg:flex flex-col gap-4">
    <table class="table-auto w-full">
      <thead class="bg-slate-200">
        <tr>
          <th class="px-2">Cliente</th>
          <th class="px-2">Numero</th>
          <th class="px-2">Tamaño</th>
          <th class="px-2">Tipo de Contenedor</th>
          <th class="px-2">Dueño de la Carga</th>
          <th class="px-2">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <% @containers.each do |container| %>
          <tr class="hover:bg-blue-50">
            <td class="border px-2"><%= container.user.full_name %></td>
            <td class="border px-2"><%= container.number %></td>
            <td class="border px-2"><%= container.size %></td>
            <td class="border px-2"><%= container.container_type %></td>
            <td class="border px-2"><%= container.cargo_owner %></td>
            <td class="border px-2">
              <%= link_to "Ver", container, class: "underline text-blue-900" %> |
              <%= link_to "Editar", edit_container_path(container), class: "underline text-blue-900" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
</div>
