<div class="flex flex-col gap-2 lg:ml-16 px-5">
   
  <h1 class="">Contenedores</h1>
  <div class="flex justify-items-end px-8">
    <%= link_to "Nuevo Contenedor", new_container_path, class: "ml-auto mt-4 btn-primary" %>
  </div>
  <div class="lg:hidden my-8">
    <% @containers.each do |container| %>
      <%= render container %>
    <%= link_to "Ver detalles", container, class: "btn-primary" %>
    <% end %>
  </div>
  <div class="hidden lg:flex flex-col gap-4">
    <table class="table-auto w-full">
      <thead>
        <tr>
          <th class="px-4 py-2">Client</th>
          <th class="px-4 py-2">Numero</th>
          <th class="px-4 py-2">Tamaño</th>
          <th class="px-4 py-2">Tipo de Contenedor</th>
          <th class="px-4 py-2">Dueño de la Carga</th>
        </tr>
      </thead>
      <tbody>
        <% @containers.each do |container| %>
          <tr class="hover:bg-blue-50">
            <td class="border px-2 py-1"><%= container.user.full_name %></td>
            <td class="border px-2 py-1"><%= container.number %></td>
            <td class="border px-2 py-1"><%= container.size %></td>
            <td class="border px-2 py-1"><%= container.container_type %></td>
            <td class="border px-2 py-1"><%= container.cargo_owner %></td>
            <td class="border px-2 py-1">
              <%= link_to "Ver", container, class: "" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
</div>
