<div class="flex flex-col gap-2 lg:ml-20 px-5 mb-16">
   
  <h1 class="">Contenedores</h1>

  <div class="flex justify-items-end px-8">
    <%= link_to new_container_path, class: "flex items-center ml-auto mt-4 btn-primary" do %>
      <%= material_icon.shape(:add_circle) %>
      <span class="ml-2">Nuevo</span>
    <% end %>
  </div>

  <%# start search form %>
  <div class="border rounded p-4 bg-blue-50 my-8 shadow">
    <%= form_with :url => containers_path, method: :get do |f| %>

      <div class="flex flex-col lg:flex-row gap-2">
        <div class="input-group">
          <%= f.label :from %>
          <%= f.date_field :from, class: "form-control", value: Date.today.beginning_of_month %>
        </div>

        <div class="input-group">
          <%= f.label :to %>
          <%= f.date_field :to, class: "form-control", value: Date.today %>
        </div>
        
        <div class="input-group">
          <%= f.label :container_type, "Tipo de contenedor" %>
          <%= f.select :container_type, options_for_select(Container::CONTAINER_TYPES), { prompt: "Selecciona" }, class: "form-control" %>
        </div>
        <div class="input-group">
          <%= f.label :move_type, "Movimiento" %>
          <%= f.select :move_type, options_for_select(Move::MOVE_TYPES), { prompt: "Selecciona" }, class: "form-control" %>
        </div>
      </div>

      <div class="lg:flex gap-2 my-4">
        <div class="input-group">
          <%= f.label :number, "Numero de contenedor" %>
          <%= f.text_field :number, class: "form-control" %>
        </div>

        <div class="input-group">
          <%= f.label :cargo_owner, "Dueño de la carga" %>
          <%= f.text_field :cargo_owner, class: "form-control" %>
        </div>

        <% if current_user.role.name != "cliente" %>
            <div class="input-group">
              <%= f.label :user_id, "Cliente" %>
              <%= f.select :user_id, 
                    options_from_collection_for_select(
                      User.joins(:role).where(roles: { name: 'cliente' }), 
                      :id, 
                      :full_name, 
                    ), { prompt: "Selecciona" }, class: "form-control" %>
            </div>
        <% end %>

      </div>

      <div class="lg:flex items-center gap-4 my-4">
        <!-- Per Page Selection -->
        <div class="w-full lg:w-1/4 lg:mt-2">
          <div class="flex flex-col lg:flex-row items-start gap-2 w-full">
            <label for="per_page" class="text-sm font-semibold text-gray-700 hidden"><%= f.label :per_page, "Mostrar" %></label>
            <%= f.select :per_page, 
                  options_for_select([10, 25, 50, 100, 500], params[:per_page]), 
                  {}, 
                  class: "rounded border-gray-300 shadow-sm focus:ring focus:ring-blue-300 w-full cursor-pointer"
            %>
          </div>
        </div>
      
        <!-- In Yard Checkbox -->
        <div class="input-group flex mt-2 items-center border rounded-lg px-4 py-2 shadow-sm w-full lg:w-1/6 bg-blue-50">
          <%= f.check_box :in_yard, { class: "form-checkbox text-blue-600 rounded focus:ring focus:ring-blue-300 cursor-pointer" }, "1", "0" %>
          <label for="in_yard" class="ml-2 text-sm font-semibold text-gray-700"><%= f.label :in_yard, "En patio" %></label>
        </div>
      </div>

      <%= f.submit "Filtrar", class: "btn-primary" do %>
        <%= material_icon.shape(:search) %>
      <% end %>

    <% end %>
  </div>
  <%# end search form %>

  

  <%= link_to containers_path(
        request.query_parameters.merge(format: :xlsx)), 
        class: "btn-primary flex items-center justify-center w-1/2 lg:w-1/5 ml-auto lg:mb-2 mb-2", 
        title: "Exportar a Excel" do %>
    <%= material_icon.shape(:download) %>
    <span>Excel</span>
  <% end %>

  <div class="my-4 flex justify-evenly items-center gap-4 border bg-blue-50 rounded-lg px-6 py-4">
    <%= paginate @containers %>
  </div>

  <div class="lg:hidden my-8">
    <% if @containers.empty? %>
      <p class="text-gray-600">No hay resultados para la búsqueda</p>
    <% else %>
      <% @containers.each do |container| %>
        <%= render container %>
      <%= link_to "Ver detalles", container, class: "btn-primary" %>
      <%= link_to "Editar", edit_container_path(container), class: "btn-primary" %>
      <% end %>
    <% end %>
  </div>

  <div class="hidden lg:flex flex-col gap-4 bg-white shadow-md rounded-lg p-6">
    <% if @containers.empty? %>
      <p class="text-gray-600">No hay resultados para la búsqueda</p>
    <% else %>
      <table class="table-auto w-full border-collapse border border-gray-300 rounded-lg shadow-lg">
        <thead class="bg-slate-200">
          <tr>
            <th class="px-2">Cliente</th>
            <th class="px-2">Numero</th>
            <th class="px-2">Size</th>
            <th class="px-2">Tipo</th>
            <th class="px-2">Dueño</th>
            <th class="px-2">Entrada</th>
            <th class="px-2">Salida</th>
            <th class="px-2">Acción</th>
          </tr>
        </thead>
        <tbody>
          <% @containers.each do |container| %>
            <tr class="hover:bg-blue-50">
              <td class="border px-2"><%= container.user.full_name %></td>
              <td class="border px-2"><%= container.number %></td>
              <td class="border px-2"><%= container.size %></td>
              <td class="border px-2"><%= container.container_type %></td>
              <td class="border px-2"><%= container.cargo_owner %></td>
              <td class="border px-2">
                <% entrada_move = container.moves.find_by(move_type: "Entrada") %>
                <% if entrada_move %>
                  <span><%= entrada_move.created_at.strftime("%d/%m/%Y") %></span>
                <% else %>
                  N/A
                <% end %>
              </td>
              <td class="border px-2">
                <% entrada_move = container.moves.find_by(move_type: "Salida") %>
                <% if entrada_move %>
                  <span><%= entrada_move.created_at.strftime("%d/%m/%Y") %></span>
                <% else %>
                  N/A
                <% end %>
              </td>
              <td class="border px-2 text-center">
                <%= link_to container, class: "text-blue-600", title: "Ver detalles" do %>
                  <%= material_icon.shape(:visibility) %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
</div>

<div class="my-4 flex justify-center border bg-blue-50 rounded-lg px-6 py-2">
  <%= paginate @containers %>
</div>
