<div class="flex flex-col mx-auto md:w-2/3 w-full mb-16">
  <h1 class="text-center">Contenedor</h1>
  <div class="mx-auto">
    <%= render @container %>
    <div class="flex flex-col gap-4 ml-2">
      <div class="">
        <%= link_to "<-", containers_path, class: "btn-primary" %>
        <%= link_to "Editar", edit_container_path(@container), class: "btn-primary" %>
        <%= link_to "Eliminar", @container, data: { turbo_method: :delete, turbo_confirm: "¿Eliminar este contenedor?" }, class: "btn-danger" %>
      </div>
      <div class="my-4">
        <%= link_to "Crear EIR", new_eir_path(container_id: @container.id), class: "btn-primary" %>
        <%= link_to "Nuevo movimiento", new_move_path(container_id: @container.id), class: "btn-primary" %>
      </div>
    </div>
  </div>

  <div class="hidden lg:flex lg:flex-col gap-4 mt-4">
    <h2 class="text-center">Servicios del Contenedor</h2>
    <p class="text-center"><%= @container.number %></p>
    <div class="flex flex-col gap-4">
      <table class="table-auto my-5 border-collapse border border-gray-300 w-full">
        <thead>
          <tr class="bg-blue-200">
            <th class="border border-gray-300 px-4 py-2">Servicio</th>
            <th class="border border-gray-300 px-4 py-2">Inicio</th>
            <th class="border border-gray-300 px-4 py-2">Fin</th>
            <th class="border border-gray-300 px-4 py-2">Invoiced</th>
            <th class="border border-gray-300 px-4 py-2">Cargo</td>
            <th class="border border-gray-300 px-4 py-2">Acciones</td>
          </tr>
        </thead>
        <tbody>
          <% @services.each do |service| %>
            <tr>
              <td class="border border-gray-300 px-4 py-2"><%= service.name %></td>
              <td class="border border-gray-300 px-4 py-2"><%= service.start_date&.in_time_zone("America/Mexico_City")&.strftime("%d/%m/%Y") %></td>
              <td class="border border-gray-300 px-4 py-2"><%= service.end_date&.in_time_zone("America/Mexico_City")&.strftime("%d/%m/%Y") %></td>
              <td class="border border-gray-300 px-4 py-2"><%= service.invoiced %></td>
              <td class="border border-gray-300 px-4 py-2"><%= number_to_currency(service.charge, unit: "$", precision: 2) %></td>
              <td class="border border-gray-300 px-4 py-2">
                <%= link_to "Ver", service, class: "underline" %> |
                <%= link_to "Editar", edit_service_path(service), class: "underline" %> |
                <%= link_to "Eliminar", service, data: { turbo_method: :delete, turbo_confirm: "¿Eliminar este servicio?" }, class: "underline" %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div>
     <%= link_to "Nuevo Servicio", new_service_path(container_id: @container.id), class: "btn-primary" %>
    </div>
  </div>

 

  <div class="lg:hidden flex flex-col gap-4 mt-4 mx-auto w-full my-5">
    <h2 class="text-center">Servicios del Contenedor</h2>
    <div class="flex flex-col gap-4">
      <% @services.each do |service| %>
        <div class="border border-gray-300 rounded-md p-4">
          <div class="flex flex-col gap-2">
            <div>
              <strong>Servicio:</strong>
              <span><%= service.name %></span>
            </div>
            <div>
              <strong>Inicio:</strong>
              <span><%= service.start_date&.in_time_zone("America/Mexico_City")&.strftime("%d/%m/%Y") %></span>
            </div>
            <div>
              <strong>Fin:</strong>
              <span><%= service.end_date&.in_time_zone("America/Mexico_City")&.strftime("%d/%m/%Y") %></span>
            </div>
            <div>
              <strong>Costo:</strong>
              <span><%= service.charge %></span>
            </div>
            <div>
              <%= link_to "Editar", edit_service_path(service), class: "underline" %>
              <%= link_to "Eliminar", service, data: { turbo_method: :delete, turbo_confirm: "¿Eliminar este servicio?" }, class: "underline ml-2" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="px-2">
     <%= link_to "Nuevo Servicio", new_service_path(container_id: @container.id), class: "btn-primary my-5" %>
    </div>
  </div>


</div>
