<div class="my-5 mx-5">
  <%= form_with(model: move, class: "contents") do |form| %>
    <% if move.errors.any? %>
      <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
        <h2><%= pluralize(move.errors.count, "error") %> prohibited this move from being saved:</h2>

        <ul>
          <% move.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <h2><%= @container.number %></h2>
    <div class="my-5" style="display:none;">
      <%= form.hidden_field :container_id, value: @container.id %>
    </div>

    <div class="my-5">
      <%= form.label "Tipo de Movimiento" %>
      <%= form.select :move_type, options_for_select([["Entrada", "Entrada"], ["Salida", "Salida"]], form.object.move_type), { prompt: "Selecciona el tipo de movimiento" }, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full", required: true %>
    </div>

    <div class="my-5">
      <%= form.label "Estado de carga" %>
      <%= form.select :status, options_for_select([["Vacío", "Vacío"], ["Lleno", "Lleno"]], form.object.status), { prompt: "Selecciona el estado" }, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full", required: true %>
    </div>

    <div class="my-5">
      <%= form.label "Modo" %>
      <%= form.select :mode, options_for_select([["Full", "Full"], ["Sencillo", "Sencillo"]], form.object.mode), { prompt: "Selecciona el modo" }, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
    </div>

    <div class="my-5">
      <%= form.label "Notas" %>
      <%= form.text_area :notes, rows: 4, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
    </div>

    <div class="flex flex-col gap-2 my-5 border border-gray-400 outline-none px-2 py-3 rounded">
      <%= form.label "Imagenes" %>
      <%= form.file_field :images, id: "file-upload", multiple: true, class: "cursor-pointer p-2 bg-blue-600 text-white rounded-lg", required: true %>
    </div>

    <div class="flex gap-2 mb-20">
      <%= form.submit "Guardar", class: "btn-primary" %>
      <%= link_to "Cancelar", moves_path, class: "btn-primary" %>
    </div>
  <% end %>
</div>
