<div class="mx-auto p-4">
  <%= form_with(model: move, class: "contents", local: true) do |form| %> <!-- Set local: true for full form submission -->
    <% if move.errors.any? %>
      <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
        <h2><%= pluralize(move.errors.count, "error") %> impiden guardar el movimiento:</h2>
        <ul>
          <% move.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <h2><%= @container.number %> <%= @container.size %> Ft.</h2>
    <%= form.hidden_field :container_id, value: @container.id %>

    <div class="my-5">
      <%= form.label "Tipo de Movimiento" %>
      <%= form.select :move_type, options_for_select(Move::MOVE_TYPES, form.object.move_type), { prompt: "Selecciona el tipo de movimiento" }, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full", required: true %>
    </div>

    <div class="my-5" data-controller="location">
      <%= form.label :location_id, "Ubicación" %>
      <%= form.hidden_field :location_id, 
          id: "location-input",
          required: true,
          value: @current_location&.id
      %>
      <%= form.text_field :location_search, 
          class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full", 
          autocomplete: "off",
          required: true,
          data: { action: "input->location#search" },
          id: "location-search",
          value: @current_location&.location
      %>

      <!-- Turbo Frame to display the locations list -->
      <%= turbo_frame_tag "location_list" do %>
        <% unless move.errors.present? || !@available_locations.present? %>
          <%= render "moves/location_list" %>
        <% end %>
      <% end %>
    </div>

    <div class="my-5">
      <%= form.label "Estado de carga" %>
      <%= form.select :status, 
                      options_for_select([["Vacío", "Vacío"], ["Lleno", "Lleno"]], @previous_move&.status),
                      { prompt: "Selecciona el estado" },
                      class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full", 
                      required: true %>
    </div>

    <div class="my-5">
      <%= form.label "Modo" %>
      <%= form.select :mode, options_for_select([["Full", "Full"], ["Sencillo", "Sencillo"]], @previous_move&.mode), { prompt: "Selecciona el modo" }, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
    </div>

    <div class="my-5">
      <%= form.label "Número de candado" %>
      <%= form.text_field :seal, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full",
                          value: @previous_move&.seal %>
    </div>

    <div class="my-5">
      <%= form.label "Notas" %>
      <%= form.text_area :notes, rows: 4, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full",
                         value: @previous_move&.notes %>
    </div>

    <div class="flex flex-col gap-2 my-5 border border-gray-400 outline-none px-2 py-3 rounded">
      <%= form.label "Imágenes" %>

      <!-- Display existing attached images -->
      <% if move.images.attached? %>
        <div class="flex flex-wrap gap-4 mb-4">
          <% move.images.each do |image| %>
            <div class="relative">
              <%= image_tag image, class: "object-cover rounded-lg" %>
            </div>
          <% end %>
        </div>
      <% else %>
        <p class="text-gray-600">No hay imágenes adjuntas</p>
      <% end %>

      <!-- File input for uploading new images -->
      <%= form.file_field :images, id: "file-upload", multiple: true, 
        class: "cursor-pointer p-2 bg-blue-600 text-white rounded-lg",
        accept: "image/png, image/jpeg, image/jpg image/webp"
      %>
    </div>

    <div class="my-5">
      <%= form.label "Fecha del Movimiento" %>
      <%= form.datetime_local_field :move_date, value: Time.current.strftime("%Y-%m-%dT%H:%M"), class: "flex shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
    </div>

    <div class="flex gap-2", style="padding-bottom: 20px; padding-top: 20px; padding-left: 10px; padding-right: 10px;">
      <%= form.submit "Guardar", class: "btn-primary mb-16" %>
      <%= link_to "Cancelar", containers_path, class: "btn-primary mb-16" %>
    </div>
  <% end %>
</div>
