<div class="p-2 my-5 bg-white shadow-lg rounded-lg p-8 bg-sky-50">


  <div class="field">
    <h2><%= move.container.number %></h2>
  </div>

  <% if move.container&.eirs&.any? && move.container.eirs.last.heavy.present? %>
    <div class="field flex justify-center items-center">
      <p class="border rounded-lg bg-blue-600 text-center text-white shadow w-1/2">
        <%= move.container.eirs.last.heavy %>
      </p>
    </div>
  <% end %>

  <p class="field">
    <strong class="block font-medium mb-1">Tipo de Movimiento:</strong>
    <%= move.move_type %>
  </p>

  <p class="field">
    <strong class="block font-medium mb-1">Status:</strong>
    <%= move.status %>
  </p>

  <p class="field">
    <strong class="block font-medium mb-1">Modo:</strong>
    <%= move.mode %>
  </p>

  <p class="field">
    <strong class="block font-medium mb-1">Número de candado:</strong>
    <%= move.seal %>
  </p>

  <p class="field">
    <strong class="block font-medium mb-1">Notas:</strong>
    <%= move.notes %>
  </p>

  <p class="field">
    <strong class="block font-medium mb-1">Fecha y hora:</strong> 
    <%= move.created_at.in_time_zone("America/Mexico_City").strftime("%d/%m/%Y") %>
    <span class="bg-blue-600 px-2 rounded rounded-lg text-white shadow-lg"><%= move.created_at.in_time_zone("America/Mexico_City").strftime("%H:%M %p") %></span>
  </p>

  <% if move.images.attached? %>
    <div class="flex flex-wrap">
      <% move.images.each do |image| %>
        <%= link_to image_tag(image, class: "w-full object-cover"), rails_blob_path(image, only_path: true) %>
      <% end %>
    </div>
  <% else %>
        <p class="field">No hay imágenes adjuntas</p>
  <% end %>

</div>
