<div class="p-2 my-5 bg-white shadow-lg rounded-lg p-8 bg-sky-50">
  <p class="field">
    <strong class="block font-medium mb-1">Contenedor:</strong>
    <%= move.container.number %>
  </p>

  <p class="field">
    <strong class="block font-medium mb-1">Tipo de Movimiento:</strong>
    <%= move.move_type %>
  </p>

  <p class="field">
    <strong class="block font-medium mb-1">Status:</strong>
    <%= move.status %>
  </p>

  <p class="field">
    <strong class="block font-medium mb-1">Modo:</strong>
    <%= move.mode %>
  </p>

  <p class="field">
    <strong class="block font-medium mb-1">Notas:</strong>
    <%= move.notes %>
  </p>

  <p class="field">
    <strong class="block font-medium mb-1">Fecha y hora:</strong> 
    <%= move.created_at.strftime("%d/%m/%Y") %>
    <span class="bg-blue-600 px-2 rounded rounded-lg text-white shadow-lg"><%= move.created_at.strftime("%I:%M %p") %></span>
  </p>

  <p class="field">
    <strong class="block font-medium mb-1">Imágenes:</strong>
    <%= move.images %>
  </p>

</div>
