<div class="p-2 my-5 bg-white shadow-lg rounded-lg p-8 bg-sky-50">
  <p class="field">
    <strong class="block font-medium mb-1">Contenedor:</strong>
    <%= move.container.number %>
  </p>

  <p class="field">
    <strong class="block font-medium mb-1">Tipo de Movimiento:</strong>
    <%= move.move_type %>
  </p>

  <p class="field">
    <strong class="block font-medium mb-1">Status:</strong>
    <%= move.status %>
  </p>

  <p class="field">
    <strong class="block font-medium mb-1">Modo:</strong>
    <%= move.mode %>
  </p>

  <p class="field">
    <strong class="block font-medium mb-1">Notas:</strong>
    <%= move.notes %>
  </p>

  <p class="field">
    <strong class="block font-medium mb-1">Fecha y hora:</strong> 
    <%= move.created_at.strftime("%d/%m/%Y") %>
    <span class="bg-blue-600 px-2 rounded rounded-lg text-white shadow-lg"><%= move.created_at.strftime("%I:%M %p") %></span>
  </p>

  <% if move.images.attached? %>
    <div class="flex flex-wrap">
      <% move.images.each do |image| %>
        <%= link_to image_tag(image, class: "w-full object-cover"), rails_blob_path(image, only_path: true) %>
      <% end %>
    </div>
  <% else %>
        <p class="field">No hay imágenes adjuntas</p>
  <% end %>

</div>
