<div class="flex flex-col mx-auto lg:w-3/4 px-4 md:px-8 mb-20">

  <h1 class="text-3xl font-bold text-center text-gray-800 my-6">Movimientos</h1>

  <div class="border rounded-lg p-4 bg-blue-50 my-8 shadow-md">
    <%= form_with :url => moves_path, method: :get do |f| %>
      <div class="lg:flex gap-4 my-4">
        <div class="input-group flex-1">
          <%= f.label :number, "Número de Contenedor", class: "font-medium text-gray-700" %>
          <%= f.text_field :number, class: "form-control mt-1 border-gray-300 rounded-md shadow-sm focus:border-blue-500 focus:ring-blue-500" %>
        </div>

        <% if current_user.role.name != "cliente" %>
          <div class="input-group flex-1">
            <%= f.label :user_id, "Cliente", class: "font-medium text-gray-700" %>
            <%= f.select :user_id,
                  options_from_collection_for_select(
                    User.joins(:role).where(roles: { name: 'cliente' }),
                    :id,
                    :full_name,
                  ), { prompt: "Selecciona" }, class: "form-control mt-1 border-gray-300 rounded-md shadow-sm focus:border-blue-500 focus:ring-blue-500" %>
          </div>
        <% end %>
      </div>

      <div class="lg:flex gap-4 my-4 border px-4 py-4 rounded-md bg-slate-200">
        <div class="input-group flex-1">
          <%= f.label :move_type, "Movimiento", class: "font-medium text-gray-700" %>
          <%= f.select :move_type, options_for_select(Move::MOVE_TYPES), { prompt: "Selecciona" }, class: "form-control mt-1 border-gray-300 rounded-md shadow-sm focus:border-blue-500 focus:ring-blue-500" %>
        </div>
        <div class="input-group flex-1">
          <%= f.label :move_created_at, "Fecha del Movimiento", class: "font-medium text-gray-700" %>
          <%= f.date_field :move_created_at, class: "form-control mt-1 border-gray-300 rounded-md shadow-sm focus:border-blue-500 focus:ring-blue-500" %>
        </div>
      </div>

      <div class="input-group inline">
        <%= f.submit "Buscar", class: "btn-primary py-2 px-4 rounded-md shadow-md transition duration-200" %>
      </div>
    <% end %>
  </div>

  <div id="moves" class="min-w-full">
    <% if @moves.empty? %>
      <p class="text-center text-gray-600 my-4">No hay resultados para la búsqueda</p>
    <% end %>

    <!-- Mobile view for moves -->
    <div class="flex flex-col lg:hidden">
      <div class="my-4 flex justify-center border bg-blue-50 rounded-lg px-6 py-2">
        <%= paginate @moves %>
      </div>
      <% @moves.each do |move| %>
        <%= link_to move do %>
          <p class="field border-b p-4 hover:bg-blue-50 transition duration-200">
            <%= move.container.number %>
            <% if move.move_type == "Entrada" %>
              Entrada: <%= move.created_at.in_time_zone("America/Mexico_City").strftime("%d/%b/%y") %>
            <% elsif move.move_type == "Salida" %>
              Salida: <%= move.created_at.in_time_zone("America/Mexico_City").strftime("%d/%b/%y") %>
            <% elsif move.move_type == "Reacomodo" %>
              Reacomodo: <%= move.created_at.in_time_zone("America/Mexico_City").strftime("%d/%b/%y") %>
            <% elsif move.move_type == "Lavado" %>
              Lavado: <%= move.created_at.in_time_zone("America/Mexico_City").strftime("%d/%b/%y") %>
              <% elsif move.move_type == "Traspaleo" %>
              Traspaleo: <%= move.created_at.in_time_zone("America/Mexico_City").strftime("%d/%b/%y") %>
            <% end %>
          </p>
        <% end %>
      <% end %>
    </div>

    <!-- Desktop view for moves -->
    <div class="my-4 flex justify-center bg-blue-50 rounded-lg px-6 py-2 border border-gray-300 rounded-lg shadow">
      <%= paginate @moves %>
    </div>

    <div class="hidden lg:flex flex-col gap-4 bg-white shadow-md rounded-lg p-6">
      <table class="table-auto w-full border-collapse border border-gray-300 rounded-lg shadow-lg">
        <thead class="bg-blue-50 text-gray-700">
          <tr>
            <th class="border px-2 text-left">Num.</th>
            <th class="border px-2 text-left">Cliente</th>
            <th class="border px-2 text-left">Entrada</th>
            <th class="border px-2 text-left">Reacomodo</th>
            <th class="border px-2 text-left">Traspaleo</th>
            <th class="border px-2 text-left">Lavado</th>
            <th class="border px-2 text-left">Salida</th>
            <th class="border px-2 text-left">Acción</th>
          </tr>
        </thead>
        <tbody>
          <% @moves.each do |move| %>
            <tr class="bg-white">
              <td class="border px-2"><%= move.container.number %></td>
              <td class="border px-2"><%= move.container.user.full_name %></td>
              <td class="border px-2">
                <% if move.move_type == "Entrada" %>
                  <%= move.created_at.in_time_zone("America/Mexico_City").strftime("%d/%m/%Y") %>
                <% else %>
                  N/A
                <% end %>
              </td>
              <td class="border px-2">
                <% if move.move_type == "Reacomodo" %>
                  <%= move.created_at.in_time_zone("America/Mexico_City").strftime("%d/%m/%Y") %>
                <% else %>
                  N/A
                <% end %>
              </td>
              <td class="border px-2">
                <% if move.move_type == "Traspaleo" %>
                  <%= move.created_at.in_time_zone("America/Mexico_City").strftime("%d/%m/%Y") %>
                <% else %>
                  N/A
                <% end %>
              </td>
              <td class="border px-2">
                <% if move.move_type == "Lavado" %>
                  <%= move.created_at.in_time_zone("America/Mexico_City").strftime("%d/%m/%Y") %>
                <% else %>
                  N/A
                <% end %>
              </td>
              <td class="border px-2">
                <% if move.move_type == "Salida" %>
                  <%= move.created_at.in_time_zone("America/Mexico_City").strftime("%d/%m/%Y") %>
                <% else %>
                  N/A
                <% end %>
              </td>
              <td class="border px-2 text-center">
                <%= link_to move, class: "underline text-blue-600" do %>
                  <%= material_icon.shape(:visibility) %>
                <% end %>
                <%= link_to move, data: { turbo_method: :delete, turbo_confirm: "¿Eliminar este movimiento?" }, class: "text-red-600" do %>
                  <%= material_icon.shape(:delete) %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="my-4 flex justify-center bg-blue-50 rounded-lg px-6 py-2 border border-gray-300 rounded-lg shadow">
      <%= paginate @moves %>
    </div>
    
  </div>
</div>

