<div class="flex flex-col"
      style="background: linear-gradient(360deg,rgb(249, 251, 252),rgb(88, 118, 201));"
 >
  <h1 class="my-4 text-white">Catálogos</h1>
  <div class="flex flex-wrap gap-4 justify-center rounded-lg p-4">

    <%= link_to users_path do %>
      <div class="flex flex-col gap-4 text-4xl items-center text-blue-600 p-8 rounded-lg shadow-lg bg-white hover:bg-blue-600 hover:text-white transition duration-200 cursor-pointer flex-1">
          <%= material_icon.shape(:people_outline) %>
        <div class="flex flex-col items-center">
          <span class="font-bold text-lg">Usuarios</span>
          <span class="text-sm">Administra usuarios y clientes</span>
        </div>
      </div>
    <% end %>

    <%= link_to roles_path do %>
      <div class="flex flex-col gap-4 text-4xl items-center text-blue-600 p-8 rounded-lg shadow-lg bg-white hover:bg-blue-600 hover:text-white transition duration-200 cursor-pointer flex-1">
          <%= material_icon.shape(:engineering) %>
        <div class="flex flex-col items-center">
          <span class="text-lg font-bold">Roles</span>
          <span class="text-sm">Añade, edita o elimina roles d</span>
        </div>
      </div>
    <% end %>

    <%= link_to services_path do %>
      <div class="flex flex-col gap-4 text-4xl items-center text-blue-600 p-8 rounded-lg shadow-lg bg-white hover:bg-blue-600 hover:text-white transition duration-200 cursor-pointer flex-1">
          <%= material_icon.shape(:handyman) %>
        <div class="flex flex-col items-center">
          <span class="text-lg font-bold">Servicios</span>
          <span class="text-sm">Administra los servicios prest</span>
        </div>
      </div>
    <% end %>
  
  </div>


  <div class="flex flex-wrap gap-4 justify-center rounded-lg p-4">


    <%= link_to invoices_path do %>
      <div class="flex flex-col gap-4 text-4xl items-center text-blue-600 p-8 rounded-lg shadow-lg bg-white hover:bg-blue-600 hover:text-white transition duration-200 cursor-pointer flex-1">
          <%= material_icon.shape(:receipt_long) %>
        <div class="flex flex-col items-center">
          <span class="text-lg font-bold">Edos. Cuenta</span>
          <span class="text-sm">Administra Estados de Cuenta</span>
        </div>
      </div>
    <% end %>

    <%= link_to payments_path do %>
      <div class="flex flex-col gap-4 text-4xl items-center text-blue-600 p-8 rounded-lg shadow-lg bg-white hover:bg-blue-600 hover:text-white transition duration-200 cursor-pointer flex-1">
          <%= material_icon.shape(:payments) %>
        <div class="flex flex-col items-center">
          <span class="text-lg font-bold">Pagos</span>
          <span class="text-sm">Añade, edita o elimina pagos..</span>
        </div>
      </div>
    <% end %>

    <%= link_to locations_path do %>
      <div class="flex flex-col gap-4 text-4xl items-center text-blue-600 p-8 rounded-lg shadow-lg bg-white hover:bg-blue-600 hover:text-white transition duration-200 cursor-pointer flex-1">
          <%= material_icon.shape(:place) %>
        <div class="flex flex-col items-center">
          <span class="text-lg font-bold">Ubicaciones</span>
          <span class="text-sm">Añade, edita o elimina ubicacio</span>
        </div>
      </div>
    <% end %>

  </div>

  <div class="flex flex-wrap gap-4 justify-center rounded-lg p-4">

   <% if current_user.role.name == "administrador" %> 
      <%= link_to pricings_path do %>
        <div class="flex flex-col gap-4 text-4xl items-center text-blue-600 p-8 rounded-lg shadow-lg bg-white hover:bg-blue-600 hover:text-white transition duration-200 cursor-pointer flex-1">
            <%= material_icon.shape(:price_check) %>
          <div class="flex flex-col items-center">
            <span class="text-lg font-bold">Precios</span>
            <span class="text-sm">Precio especial a cada cliente</span>
          </div>
        </div>
      <% end %>
    <% end %>

    <%= link_to reports_path do %>
      <div class="flex flex-col gap-4 text-4xl items-center text-blue-600 p-8 rounded-lg shadow-lg bg-white hover:bg-blue-600 hover:text-white transition duration-200 cursor-pointer flex-1">
          <%= material_icon.shape(:bar_chart) %>
        <div class="flex flex-col items-center">
          <span class="text-lg font-bold">Reportes</span>
          <span class="text-sm">Observa los reportes de tu emp</span>
        </div>
      </div>
    <% end %>

    <%= link_to suppliers_path do %>
      <div class="flex flex-col gap-4 text-4xl items-center text-blue-600 p-8 rounded-lg shadow-lg bg-white hover:bg-blue-600 hover:text-white transition duration-200 cursor-pointer flex-1">
          <%= material_icon.shape(:storefront) %>
        <div class="flex flex-col items-center">
          <span class="text-lg font-bold">Proveedores</span>
          <span class="text-sm">Añade, edita o elimina proveed</span>
        </div>
      </div>
    <% end %>

  </div>

  <div class="flex flex-wrap gap-4 justify-center rounded-lg p-4 mb-20">

    <%= link_to root_path do %>
      <div class="flex flex-col gap-4 text-4xl items-center text-blue-600 p-8 rounded-lg shadow-lg bg-white hover:bg-blue-600 hover:text-white transition duration-200 cursor-pointer flex-1">
          <%= material_icon.shape(:house) %>
        <div class="flex flex-col items-center">
          <span class="text-lg font-bold">Home</span>
          <span class="text-sm">YACO Yard Containers Controla,</span>
        </div>
      </div>
    <% end %>

    

  </div>

</div>