<div class="w-full flex flex-col px-4">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <% content_for :title, "Permissions" %>

    <h1 class="mb-4">Permisos</h1>
    <%= link_to "Nuevo Permiso", new_permission_path, class: "btn-primary w-2/3 lg:w-1/5 text-center" %>

  <div class="flex flex-col gap-2">
    <% @permissions.each do |permission| %>
      <div class="flex flex-col gap-2 bg-white p-4 rounded-lg shadow-md">
        <div class="flex flex-col gap-2">
          <p><%= permission.name %></p>
          <div class="flex gap-2">
           <%= link_to "Editar", edit_permission_path(permission), class: "btn-primary" %>
           <%= button_to "Eliminar", permission, method: :delete, class: "btn-primary" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
