<div class="mx-auto flex flex-col">
  <div class="mx-auto flex flex-col gap-2">
    <h1 class="text-center">Permiso</h1>
    <div class="" id="<%= dom_id @permission %>">
      <p class="my-5">
        <%= @permission.name %>
      </p>
    </div>
    <div class="flex gap-2">
      <%= link_to "Regresar", permissions_path, class: "btn-primary" %>
      <%= link_to "Editar", edit_permission_path(@permission), class: "btn-primary" %>
      <%= button_to "Eliminar", @permission, data: { turbo_confirm: "¿Estás seguro?", turbo_method: :delete }, class: "btn-danger" %>
    </div>
  </div>
</div>
