<div class="w-full md:w-2/3 mx-auto lg:p-8 p-2">
  <% content_for :title, "Payments" %>

  <div class="flex justify-center items-center">
    <h1 class="font-bold text-4xl">Pagos</h1>
  </div>

  <%# Small devices %>
   
  <div id="payments" class="min-w-full lg:hidden">
    <div class="my-4 flex justify-center border bg-blue-50 rounded-lg px-6 py-2">
   <%= paginate @payments %>
  </div>
    <% @payments.each do |payment| %>
      <%= render payment %>
    <% end %>
  </div>

  <%# Large devices %>
  <div class="my-4 flex justify-center bg-blue-50 rounded-lg px-6 py-2 border border-gray-300 rounded-lg shadow">
   <%= paginate @payments %>
  </div>
  <div id="payments" class="hidden lg:flex flex-col gap-4 bg-white shadow-md rounded-lg p-6 my-8">
    <table class="min-w-full bg-white shadow-md rounded-lg overflow-hidden">
      <thead class="bg-blue-50 text-gray-700">
        <tr>
          <th class="text-left px-6 py-2 text-sm font-semibold border text-center">Edo. Cta.</th>
          <th class="text-left px-6 py-2 text-sm font-semibold border text-center">Monto</th>
          <th class="text-left px-6 py-2 text-sm font-semibold border text-center">Fecha de pago</th>
          <th class="text-left px-6 py-2 text-sm font-semibold border text-center">Forma de pago</th>
          <th class="text-left px-6 py-2 text-sm font-semibold border text-center">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <% @payments.each do |payment| %>
          <tr class="even:bg-gray-50 hover:bg-gray-100">
            <td class="px-6 py-2 text-sm text-gray-800 border text-center">
              <%= link_to payment.invoice, class: "text-blue-600 underline", title: "Ver estado de cuenta" do %>
                <%= payment.invoice&.id %></td>
              <% end %>
            </td>
             
            <td class="px-6 py-2 text-sm text-gray-800 border"><%= number_to_currency(payment.amount, unit: "$") %></td>
            <td class="px-6 py-2 text-sm text-gray-800 border"><%= payment.payment_date.strftime("%d-%m-%Y") %></td>
            <td class="px-6 py-2 text-sm text-gray-800 border"><%= payment.payment_means %></td>
            <td class="px-6 py-2 flex gap-2 justify-center border">
              <%= link_to payment, class: "text-blue-500 hover:text-blue-800", title: "Ver" do %>
                <%= material_icon.shape(:visibility) %>
              <% end %>
              <%= link_to edit_payment_path(payment), class: "text-blue-500 hover:text-blue-800", title: "Editar" do %>
                <%= material_icon.shape(:edit) %>
              <% end %>
              <%= link_to payment, data: { turbo_method: :delete, turbo_confirm: "¿Está seguro?" }, class: "text-red-500 hover:text-red-900", title: "Eliminar" do %>
                <%= material_icon.shape(:delete) %>
              <% end %>
              <%= link_to payment.invoice, class: "text-blue-500 hover:text-blue-800", title: "Ver estado de cuenta" do %>
                <%= material_icon.shape(:receipt_long) %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="my-4 flex justify-center bg-blue-50 rounded-lg px-6 py-2 border border-gray-300 rounded-lg shadow">
   <%= paginate @payments %>
  </div>
  <%# end large devices %>

</div>
