<%= form_with(model: role, class: "contents") do |form| %>
  <% if role.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(role.errors.count, "error") %> prohibited this role from being saved:</h2>

      <ul>
        <% role.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="flex flex-col mb-20">
    <div class="my-5">
      <%= form.label :name %>
      <%= form.text_field :name, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
    </div>

    <div class="">
      <%= form.label "Permisos" %>
      <%= hidden_field_tag "role[permission_ids][]", "" %>
      <div class="my-2 flex flex-col">
        <% @permissions.each do |permission| %>
          <div class="border rounded-lg px-4 py-2 mb-2 shadow bg-blue-50">
            <%= check_box_tag "role[permission_ids][]", permission.id, @role.permissions.include?(permission), class: "rounded mx-2" %>
            <%= permission.name %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="">
      <%= form.submit "Guardar", class: "btn-primary" %>
      <%= link_to "Regresar", roles_path, class: "btn-primary" %>
    </div>
  </div>
<% end %>
