<div class="flex flex-col w-full lg:mx-24">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <% content_for :title, "Roles" %>
    <h1 class="font-bold text-4xl">Roles</h1>
    <%= link_to "Nuevo Rol", new_role_path, class: "btn-primary w-32 ml-2" %>

  <div id="roles" class="flex flex-col gap-2bg-white p-4 rounded-lg shadow-md">
    <% @roles.each do |role| %>
      <div class="flex justify-between items-center py-3 border-b border-gray-200">
        <div class="flex flex-col gap-2">
          <p class="text-lg font-medium"><%= role.name %></p>
          <div class="flex gap-2">
            <%= link_to "Editar", edit_role_path(role), class: "btn-primary" %>
            <%= link_to "Ver Rol", role, class: "btn-primary" %>
            <%= button_to "Eliminar", role, data: { turbo_confirm: "Quieres eliminar este permiso?"}, method: :delete, class: "btn-danger" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
