<div class="flex flex-col w-full lg:mx-24 p-4 bg-gray-50 rounded-lg shadow-md mb-16">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice">
      <%= notice %>
    </p>
  <% end %>

  <% content_for :title, "Roles" %>
  <h1 class="font-bold text-4xl mb-4">Roles</h1>
  <%= link_to "Nuevo Rol", new_role_path, class: "btn-primary w-32 ml-2 mb-4" %>

  <div class="bg-red-50 p-4 rounded-lg mr-8 border-l-4 border-red-600">
    <p class="text-red-900">Los roles de <span class="font-bold">administrador y cliente</span> son roles 
      predefinidos y no se deben eliminar ni editar. Si alteras uno de estos roles, puede que la aplicación
      no funcione correctamente.
    </p>
  </div>

  <div id="roles" class="flex flex-col bg-white rounded-lg shadow-md p-4">
    <% @roles.each do |role| %>
      <div class="flex justify-between items-center py-3 border-b border-gray-200 hover:bg-gray-100 transition duration-200 ease-in-out">
        <div class="flex flex-col gap-1">
          <p class="text-lg font-medium text-gray-800"><%= role.name %></p>
          <div class="flex gap-2 mt-1">
            <%= link_to "Editar", edit_role_path(role), class: "btn-primary" %>
            <%= link_to "Ver Rol", role, class: "btn-primary" %>
            <%= button_to "Eliminar", role, data: { turbo_confirm: "¿Quieres eliminar este rol?" }, method: :delete, class: "btn-danger" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

