<div class="mx-auto md:w-2/3 w-full flex flex-col p-4 bg-gray-50 rounded-lg shadow-md mb-16">
  <% if @role.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-4 py-3 font-medium rounded-lg mt-3">
      <h2 class="font-semibold"><%= pluralize(@role.errors.count, "error") %> prohibited this role from being saved:</h2>
      <ul class="list-disc list-inside mt-2">
        <% @role.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mx-auto mt-6">
    <div class="flex flex-col">
      <h1 class="text-2xl font-bold">Rol</h1>
      <h2 class="my-4 text-xl font-semibold"><%= @role.name %></h2>
      <h3 class="text-lg font-medium mt-4">Permisos Otorgados:</h3>
      <ul class="list-disc list-inside ml-6">
        <% @role.permissions.each do |permission| %>
          <li class="text-gray-700"><%= permission.name %></li>
        <% end %>
      </ul>
      <div class="flex gap-4 mt-6">
        <%= link_to "Editar", edit_role_path(@role), class: "btn-primary" %>
        <%= link_to "Regresar", roles_path, class: "btn-primary" %>
        <%= button_to "Eliminar", @role, data: { turbo_confirm: "¿Quieres eliminar este Rol?" }, method: :delete, class: "btn-danger" %>
      </div>
    </div>
  </div>
</div>

