<nav class="nav">
  <ul class="flex justify-evenly lg:flex-col items-center lg:gap-8 lg:mt-8">
    <% if user_signed_in? %>
        <%= link_to destroy_user_session_path, data: { turbo_method: :delete, turbo_confirm: "Cerrar Sesión?" } do %>
          <li class="flex flex-col items-center">
            <%= material_icon.shape(:logout) %>
            <span class="text-sm">Salir</span>
          </li>
        <% end %>

        <%= link_to invoices_path do %>
          <li class="flex flex-col items-center">
            <%= material_icon.shape(:receipt_long) %>
            <span class="text-sm">Fact</span>
          </li>
        <% end %>


        <%= link_to containers_path do %>
          <li class="flex flex-col items-center">
            <%= material_icon.shape(:local_shipping) %>
            <span class="text-sm">Cont</span>
          </li>
        <% end %>

        <%= link_to eirs_path do %>
          <li class="flex flex-col items-center">
            <%= material_icon.shape(:qr_code_2) %>
            <span class="text-sm">EIR</span>
          </li>
        <% end %>

        <%= link_to moves_path do %>
          <li class="flex flex-col items-center">
            <%= material_icon.shape(:import_export) %>
            <span class="text-sm">Movs</span>
          </li>
        <% end %>

        

        <%= link_to notifications_path do %>
          <li class="flex flex-col items-center">
            <%= material_icon.shape(:notifications) %>
            <span class="text-sm">Notif</span>
          </li>
        <% end %>

        <%= link_to settings_path do %>
          <li class="flex flex-col items-center">
            <%= material_icon.shape(:settings) %>
            <span class="text-sm">Config</span>
          </li>
        <% end %>

    <% else %>
        <%= link_to new_user_session_path do %>
          <li class="flex flex-col items-center">
            <%= material_icon.shape(:login) %>
            <span class="text-sm">Login</span>
          </li>
        <% end %>
    <% end %>
  </ul>
</nav>