<nav class="bg-slate-200">
  <ul class="flex gap-2">
    <li><%= link_to "Home", root_path %></li>
    <% if user_signed_in? %>
        <li><%= link_to "Cancelar Cuenta", registration_path(current_user), data: { turbo_method: :delete, turbo_confirm: "Eliminar Cuenta?" } %></li>
        <li><%= link_to "Salir", destroy_user_session_path, data: { turbo_method: :delete, turbo_confirm: "Cerrar Sesión?"} %></li>
        <li><%= link_to "Usuarios", users_path %></li>
        Welcome <%= current_user.username %>
    <% else %>
        <li><%= link_to "Iniciar Sesión", new_user_session_path %></li>
        <li><%= link_to "Registrar", new_user_registration_path %></li>
    <% end %>
  </ul>
</nav>  