<%= turbo_frame_tag dom_id(location) do %>
<div class="flex flex-col gap-4 py-2 px-4 bg-gray-100 shadow rounded-lg">
  <table class="table-auto border-collapse shadow-lg border rounded my-4 w-full">
    <thead>
      <tr class="bg-blue-50">
        <th class="border border-gray-300 px-4 py-2">Ubicación</th>
        <th class="border border-gray-300 px-4 py-2">Disponible</th>
        <th class="border border-gray-300 px-4 py-2">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="border border-gray-300 px-4 py-2"><%= location.location_with_capacity %></td>
        <td class="border border-gray-300 px-4 py-2 text-center">
          <% if location.available %>
            <div class="text-green-500">
              <%= material_icon.shape(:check_circle) %>
            </div>
          <% else %>
            <div class="text-red-500">
              <%= material_icon.shape(:cancel) %>
            </div>
          <% end %>
        </td>
        
        <%# Temporary solution to the malformed routes locations.:id %>
        <td class="border border-gray-300 px-4 py-2 flex gap-4">
          <%= link_to edit_location_path(location) do %>
            <div class="text-blue-600 cursor-pointer">
              <%= material_icon.shape(:edit) %>
            </div>
          <% end %>
          <%= link_to delete_location_path(location), data: { turbo_confirm: "¿Estás seguro de eliminar la ubicación?",  turbo_method: :delete } do %>
            <div class="text-red-600 cursor-pointer">
              <%= material_icon.shape(:delete) %>
            </div>
          <% end %>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<% end %>