<div class="flex gap-2 items-center justify-center px-4 rounded my-4">
  <div class="field">
    <p class="block font-medium mb-1">
      Section: <%= location.section %>
    </p>
  </div>

  <div class="field">
    <p class="block font-medium mb-1">
      Fila: <%= location.row %>
    </p>
  </div>

  <div class="field">
    <p class="block font-medium mb-1">
      Bahía: <%= location.position %>
    </p>
  </div>

  <div class="field">
    <p class="block font-medium mb-1">
      Estiba: <%= location.tier %>
    </p>
  </div>

  <div class="field">
    <p class="block font-medium mb-1">
      Disponible: <%= location.available %>
    </p>
  </div>

</div>
