<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Container Yard" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <%= favicon_link_tag 'logo.jpeg' %>
    <%# <link rel="icon" href="/icon.png" type="image/png"> %>
    <%# <link rel="icon" href="/icon.svg" type="image/svg+xml"> %>
    <link rel="apple-touch-icon" href="/icon.png">

    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="w-full h-full">
    <%if current_user %>
      <p class="fixed top-1 bg-blue-50 text-blue-500 shadow right-4 inline-block rounded-lg"><%= current_user.username %></p>
    <% end %>
    <main class="relative h-screen w-full">
      <% if notice.present? %>
        <div class="fixed top-0 right-0">
          <p class="text-center py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block"><%= notice %></p>
        </div>
      <% end %>
      <% if alert.present? %>
        <div class="fixed top-0 right-0">
          <p class="py-2 px-3 bg-red-50 mb-5 text-red-500 font-medium rounded-lg inline-block"><%= alert %></p>
        </div>
      <% end %>
      <%= yield %>
    </main>
    <%= render "/navbar" %>
  </body>
</html>
